@font-face {
    font-family: 'Sintony Regular';
    src: url('/fonts/sintony/Sintony-Regular.ttf');
  }

@font-face {
    font-family: 'Georgia Italic';
    src: url('/fonts/georgia/georgiai.ttf');
  }